* {
  box-sizing: border-box; }

body,
ul {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.container {
  width: 80%;
  margin: 50px auto; }

.header h1 {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px; }

.search-container input {
  display: block;
  padding: 6px 10px;
  border: 0.8px solid #cecaca;
  border-radius: 5px 0 0 5px;
  font-size: 17px;
  margin-left: auto; }

.search-container form {
  position: relative;
  width: 70%;
  margin: 0 auto;
  display: flex; }

.search-container button {
  padding: 6px 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-right: auto; }

.employee-details {
  padding: 10px;
  border: 0.8px solid #cecaca;
  border-radius: 5px;
  margin: 1.5em auto; }

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.image {
  display: block;
  border-radius: 50%;
  margin: 0 auto; }

.employee-details {
  height: 250px;
  width: 300px; }

.employee-name,
.employee-email,
.employee-location {
  text-align: center;
  line-height: 1.5em; }

.employee-name,
.employee-location {
  text-transform: capitalize; }

.employee-name {
  font-size: 1.5em;
  margin-top: 0.5em; }

.ui-dialog-titlebar,
.ui-dialog-titlebar-close {
  background-color: #ffffff;
  border: none; }

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
  #employees {
    display: flex;
    flex-wrap: wrap; }

  .employee-details {
    display: flex; }

  .employee-name,
  .employee-email,
  .employee-location {
    text-align: left; }

  .employee-email,
  .employee-location {
    font-size: 0.8em; }

  .employee-details {
    height: 150px;
    width: 380px; }

  .employee-details ul {
    margin-top: 10px; }

  .image {
    margin-right: 10px;
    margin-left: 0; } }
@media (min-width: 1025px) {
  .header {
    display: flex;
    width: 80%;
    margin-left: 2em; } }
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  padding-top: 50px;
  text-align: center;
  width: 24em;
  height: 30em;
  margin: 30px auto 0 auto;
  position: relative; }

.modal-content ul li {
  text-align: center; }

/* The Close Button */
.modal-content img {
  border-radius: 50%; }

#close-btn {
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 15px; }

.modal-content .bottom-divider {
  border-bottom: 1px solid #b9b7b7;
  padding: 15px 15px;
  width: 70%;
  display: block;
  margin: 0 auto 15px auto; }

.slide-modal {
  display: block;
  margin-top: 20px; }
  .slide-modal .fa-arrow-circle-left {
    margin-right: 10px; }

.fa-times:hover {
  color: brown; }

.fa-arrow-circle-right:hover,
.fa-arrow-circle-left:hover {
  color: mediumseagreen; }

/*# sourceMappingURL=style.css.map */
