$border-line: 0.8px solid rgb(206, 202, 202);
$border-radius: 5px;
$white: #ffffff;

* {
	box-sizing: border-box;
}
body,
ul {
	margin: 0;
	padding: 0;
	font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
	width: 80%;
	margin: 50px auto;
}
.header h1 {
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.search-container input {
	display: block;
	padding: 6px 10px;
	border: $border-line;
	border-radius: $border-radius 0 0 $border-radius;
	font-size: 17px;
	margin-left: auto;
}

.search-container form {
	position: relative;
	width: 70%;
	margin: 0 auto;
	display: flex;
}
.search-container button {
	padding: 6px 10px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
	margin-right: auto;
}

.employee-details {
	padding: 10px;
	border: $border-line;
	border-radius: $border-radius;
	margin: 1.5em auto;
}
ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.image {
	display: block;
	border-radius: 50%;
	margin: 0 auto;
}
.employee-details {
	height: 250px;
	width: 300px;
}
.employee-name,
.employee-email,
.employee-location {
	text-align: center;
	line-height: 1.5em;
}

.employee-name,
.employee-location {
	text-transform: capitalize;
}

// .employee-email,
// .employee-location {
// 	font-weight: lighter;
// }

.employee-name {
	font-size: 1.5em;
	margin-top: 0.5em;
}

// Modal

.ui-dialog-titlebar,
.ui-dialog-titlebar-close {
	background-color: $white;
	border: none;
}
// .detailsButton {
// 	position: relative;
// 	z-index: 100;
// }

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.search-container form {
	}
	#employees {
		display: flex;
		flex-wrap: wrap;
	}
	.employee-details {
		display: flex;
	}
	.employee-name,
	.employee-email,
	.employee-location {
		text-align: left;
	}
	.employee-email,
	.employee-location {
		font-size: 0.8em;
	}
	.employee-details {
		height: 150px;
		width: 380px;
	}
	.employee-details ul {
		margin-top: 10px;
	}
	.image {
		margin-right: 10px;
		margin-left: 0;
	}
}
@media (min-width: 1025px) {
	.header {
		display: flex;
		width: 80%;
		margin-left: 2em;
	}
}

//MODAL
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
/* Modal Content/Box */

.modal-content {
	background-color: #fefefe;
	text-align: center;
}
/* The Close Button */
.modal-content img {
	border-radius: 50%;
}
